html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: visible;
  font-family: Helvetica;
}

#tree {
  width: 100%;
  height: 100%;
}

/*warna Tabel*/
[node-id] rect {
  fill: #01786a;
}
[node-id='1'] rect {
  fill: #637500;
}

 /*fonts nama*/
.field_0 {
  font-family: monospace;
  text-transform: uppercase;
  fill: #a3a3a3;
}

.field_1 {
  fill: #a3a3a3;
}
/*garis penghubung*/
[link-id] path {
  stroke: white;
}

[link-id='[3][4]'] path {
  stroke: white;
}

[control-expcoll-id] circle {
  fill: #750000;
}

[control-expcoll-id='3'] circle {
  fill: #016e25;  
}

/*titik 3 pojok*/
[control-node-menu-id] circle {
  fill: #6abb00;
}

#tree>svg {
  background-color: #2E2E2E;
}

.bg-search-table {
  background-color: #2E2E2E !important;
}

.bg-search-table input {
  background-color: #2E2E2E !important;
}
;